<ion-view view-title="我" hide-nav-bar="true">
  <ion-content class="account-part">
  	<div>
	  	<div class="card">
	  			<button class="button button-light" ng-click="goDetails()">
					  登录/注册
					</button>
			</div>
		</div>
    <ion-list>
        <ion-item>
            邮箱
        </ion-item>
        <ion-item>
            性别
        </ion-item>
        <ion-item>
            出生年月
        </ion-item>
        <ion-item>
            省份
        </ion-item>
        <ion-item>
            城市
        </ion-item>
        <ion-item>
            个性签名
        </ion-item>
        <ion-item>
            电话
        </ion-item>
        <ion-item>
            QQ
        </ion-item>
        <ion-item>
            微博
        </ion-item>
        <ion-item>
            注册时间
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
