<ion-view view-title="行" >
	  <!--hide-nav-bar="true"-->
	  	
	<!--<ion-nav-buttons side="left">
		<a class="button button-clear button-stable icon-right ion-android-arrow-dropdown">杭州</a>
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="公交路线查询">
	  </label>
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<i class="icon ion-ios-camera-outline"></i>
	</ion-nav-buttons>
	
  <ion-content class="has-header">
    <ion-slide-box show-pager="false" class="has-header" on-slide-changed="slideChanged($index)">
      <ion-slide ng-repeat="slide in slides">
        <div class="list card">
				  <div class="item item-avatar">
				    <img src="img/author-header.jpg">
				    <h2>{{content.title}}</h2>
				    <p>作者：{{content.author}}</p>
				  </div>
				  <div class="item item-body">
				    <img class="full-image"  ng-src="{{content.img}}">
				    <p>{{content.content}}</p>
				  </div>
				</div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  
  <ion-tabs class="tabs-striped tabs-top" delegate-handle="tab4" id="{{currentTabId}}">
    <ion-tab ng-repeat="item in tabs" on-select="selectedTab($index)" title="{{item.name}}"></ion-tab>
  </ion-tabs> -->
  
  <ion-content>
	</ion-content>
</ion-view>
